:root {
  --bg-color: #ffffff;
  --second-bg-color: #000000;
  --text-color: white;
  --main-color: #000000;
  --selected-text: rgba(255, 253, 253, 0.164);
  --black-selected-text: rgba(0, 0, 0, 0.308);
}
body {
  margin: 1px;
  line-height: 1.6;
  display: grid;
}
h2 {
  font-size: 2rem;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--bg-color);
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
/* header */
header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  border: solid var(--second-bg-color);
  align-items: center;
  background-color: var(--bg-color);
}
h1 {
  padding-left: 20px;
  font-size: 3rem;
  margin: 1px;
}
h1 span {
  background-color: black;
  color: var(--text-color);
  padding: 10px;
  transition: 0.3s ease-in-out;
  display: inline-block;
}
h1 > span:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0);
  color: var(--main-color);
}
header img {
  width: 150px;
  height: 100px;
  margin-top: 0px;
  margin-right: 20px;
  transition: 0.3s ease-in-out;
}

header img:hover {
  box-shadow: 5px 5px 5px 5px;
}

/* nav */
#main-nav {
  position: sticky;
  top: 104px;
  left: 0;
  background-color: var(--main-color);
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
#main-nav > a {
  color: var(--text-color);
  text-decoration: none;
  margin: 10px;
  font-size: 1rem;
  padding: px 10px;
  transition: 0.3s;
}
#main-nav > a:hover {
  background-color: var(--selected-text);
}

/* advertisement */
.advertisement {
  display: grid;
  justify-content: center;
}
.advertisement p {
  font-size: 0.8rem;
  color: var(--black-selected-text);
}
.advertisement img {
  width: 500px;
  height: auto;
}

/* main section */
#featured {
  border: #000000 solid;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

#feature-nav {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  padding: 10px;
}

#main h2 {
  margin-top: 1px;
  margin-bottom: 1px;
}

#feature-nav > a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--main-color);
  transition: 0.3s;
  margin-top: 1px;
}

#feature-nav > a::before {
  content: " â• ";
}

#feature-nav > a:hover {
  background-color: var(--black-selected-text);
}

/* news */
#news {
  display: grid;
}
#news-posts {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
}
article {
  padding: 16px;
}

article a {
  background-color: var(--main-color);
  padding: 10px;
  text-decoration: none;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}

article a:hover {
  background-color: var(--bg-color);
  color: var(--black-selected-text);
}

article img {
  width: 800px;
}

.post-meta {
  color: rgb(190, 196, 137);
}
#news,
#news1,
#news2,
#news3,
#news4,
#news5 {
  scroll-margin-top: 200px;
}

/* footer */

#footer {
  background-color: var(--second-bg-color);
  color: #fff;
  text-align: center;
  padding: 10px;
}

#footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

#footer a {
  color: var(--main-color);
  background-color: var(--bg-color);
  padding: 10px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
#footer a:hover {
  background-color: var(--selected-text);
  color: var(--text-color);
}

#footer form {
  margin-top: 10px;
}

#footer input[type="email"] {
  padding: 5px;
  margin-right: 10px;
}

#footer button {
  padding: 5px 10px;
  background-color: var(--bg-color);
  color: var(--main-color);
  border: none;
  cursor: pointer;
}

#footer button:hover {
  background-color: var(--selected-text);
  color: var(--text-color);
}

@media screen and (max-width: 600px) {
  #news-posts {
    display: grid;
    grid-template-columns: auto;
  }
}
